{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:base.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

{% block content %}
	
	<h1 class="page-header">{% block header %}{% endblock %}</h1>
	
	{% block form %}
		{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
		{{ form_start(form, {'attr': {'class': 'ajax-form'} }) }}
			{{ include('dlouhySimpleCRUDBundle:BaseCRUD:form.html.twig', { 'form': form }) }}
		{{ form_end(form) }}
	{% endblock %}
	
{% endblock content %}

{% block javascripts %}
	
	{{ parent() }}
	
	{% javascripts
		'%kernel.root_dir%/../vendor/a2lix/translation-form-bundle/Resources/public/js/a2lix_translation_bootstrap.js'
	%}	
    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}		

{% endblock javascripts %}