{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:form.html.twig" as formMacros %}
<div class="form-content">	
	{% if errors is defined and errors is not empty %}
		{{ formMacros.form_errors(errors) }}
	{% endif %}
	{{ form_widget(form) }}
</div>

{% if includeJs is defined and includeJs %}
	{% block includeJs %}{% endblock %}
{% endif %}