{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:base.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

{% block content %}
	
	<h1 class="page-header">{% block header %}{% endblock %}</h1>
	
	<div class="row">
		<div class="btn-menu">
			{% block btnMenu %}{% endblock %}		
		</div>
	</div>	
	
	<div class="row">		
		<div class="table-responsive" id="data-table-content">													
			{% block table %}{% endblock %}
		</div>		
	</div>
	
{% endblock content %}

{% block javascripts %}
	
	{{ parent() }}	
	<script type="text/javascript">		
		$(document).ready(function () {			
			dataTableLoader.loadDataTable(dataSet, columns, {{ tree is defined and tree ? 'true' : 'false' }});
		});
	</script>				
	
{% endblock javascripts %}