<table id="data-table" class="table table-striped table-bordered table-hover dataTable">
	{% block tfoot %}{% endblock %}
</table>
<script type="text/javascript">
	var dataSet = [{% block dataset %}{% endblock %}
	];

	var columns = [{% block columns %}{% endblock %}
	];
</script>

{% if includeJs is defined and includeJs %}
	<script type="text/javascript">
		$(document).ready(function () {
			dataTableLoader.loadDataTable(dataSet, columns);
		});
	</script>				
{% endif %}
