{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:base.html.twig' %}

{% block content %}
	
	<h1 class="page-header">{% block header %}{% endblock %}</h1>
	
	{% block view %}

	{% endblock %}
	
{% endblock content %}